{% extends '_base/_page-nav.twig' %}

{% block page_nav title %}

{% block page_title __(title) %}

{% block page_main %}

    <div class="well">
        TODO: view statistics, order by header click (client-side data-table), view feedback per item
    </div>

    <ul>
        {% for item in data %}
            {% set contenttype   = item.contenttype %}
            {% set contentid     = item.contentid %}
            {% set totals        = item.totals|json_decode %}
            {% set ips           = item.ips|json_decode %}
            {% set totalsNo      = totals.no is defined ? totals.no : 0 %}
            {% set totalsYes     = totals.yes is defined  ? totals.yes : 0 %}
            {% set totalsTotal   = totalsNo + totalsYes %}
            {% set percentageNo  = (totalsNo / totalsTotal) * 100 %}
            {% set percentageYes = (totalsYes / totalsTotal) * 100 %}

            <li>
                [{{ "#{contenttype}/#{contentid}" }}]
                |
                {{ totalsNo }} ({{ percentageNo|number_format(2,'.','') }}%)
                |
                {{ totalsYes }} ({{ percentageYes|number_format(2,'.','') }}%)
                |
                {{ totalsTotal }}
            </li>

        {% endfor %}
    </ul>

{% endblock page_main %}
