{% extends '_base/_page-nav.twig' %}

{% block page_nav title %}

{% block page_title __(title) %}

{% block page_main %}

    {{ include('@is_useful/backend/_navigation.twig') }}

    {% set cumulativeNo  = 0 %}
    {% set cumulativeYes = 0 %}

    <table data-table>
        <thead>
            <th>Record</th>
            <th>No</th>
            <th>No %</th>
            <th>Yes</th>
            <th>Yes %</th>
            <th>Total</th>
            <th>Details</th>
        </thead>
        <tbody>
            {% for item in data %}
                {% set contenttype   = item.contenttype %}
                {% set contentid     = item.contentid %}
                {% set totals        = item.totals|json_decode %}
                {% set ips           = item.ips|json_decode %}
                {% set totalsNo      = totals.no is defined ? totals.no : 0 %}
                {% set totalsYes     = totals.yes is defined  ? totals.yes : 0 %}
                {% set totalsTotal   = totalsNo + totalsYes %}
                {% set percentageNo  = (totalsNo / totalsTotal) * 100 %}
                {% set percentageYes = (totalsYes / totalsTotal) * 100 %}
                {% set totalFeedback = item.count %}
                {% setcontent record = "#{contenttype}/#{contentid}" %}
                <tr>
                    <td>
                        {{ record.title}}
                        <small>
                            [<a href="{{ path('editcontent', { contenttypeslug: contenttype, id: contentid }) }}">Edit</a>]
                        </small>
                    </td>
                    <td>{{ totalsNo }}</td>
                    <td>{{ percentageNo|number_format(2,'.','') }}%</td>
                    <td>{{ totalsYes }}</td>
                    <td>{{ percentageYes|number_format(2,'.','') }}%</td>
                    <td>{{ totalsTotal }}</td>
                    <td>
                        {% if totalFeedback > 0 %}
                        <a class="btn btn-tertiary" href="{{ path('is_useful.view', { id: item.id }) }}">
                            View
                            <span class="badge">{{ totalFeedback }}</span>
                        </a>
                        {% endif %}
                    </td>
                </tr>
                {% set cumulativeNo  = cumulativeNo  + totalsNo %}
                {% set cumulativeYes = cumulativeYes + totalsYes %}
            {% endfor %}
        </tbody>
    </table>

    <hr>

    <ul>
        <li>
            <strong>Total stats</strong>:
            <ul>
                <li>
                    <strong>No</strong>: {{ cumulativeNo }} ({{ (100 * cumulativeNo / ( cumulativeNo + cumulativeYes ))|number_format(2,'.','') }})
                </li>
                <li>
                    <strong>Yes</strong>: {{ cumulativeYes }} ({{ (100 * cumulativeYes / ( cumulativeNo + cumulativeYes ))|number_format(2,'.','') }}%)
                </li>
            </ul>
        </li>
    </ul>

    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script>
    $(document).ready(function(){
        $('[data-table]').DataTable({
            pageLength: 100
        });
    });
    </script>

{% endblock page_main %}
