{% extends '_base/_page-nav.twig' %}

{% block page_nav title %}

{% block page_title __(title) %}

{% block page_main %}

    {{ include('@is_useful/backend/_navigation.twig') }}

    {% set cumulativeNo  = 0 %}
    {% set cumulativeYes = 0 %}

    {% for item in data %}
        {% set totals        = item.totals|json_decode %}
        {% set totalsNo      = totals.no is defined ? totals.no : 0 %}
        {% set totalsYes     = totals.yes is defined  ? totals.yes : 0 %}

        {% set cumulativeNo  = cumulativeNo  + totalsNo %}
        {% set cumulativeYes = cumulativeYes + totalsYes %}
    {% endfor %}

    {% if (cumulativeNo + cumulativeYes) > 0 %}
        {% set percentageYes = (100 * cumulativeYes / ( cumulativeNo + cumulativeYes )) %}
        {% set percentageNo = (100 * cumulativeNo / ( cumulativeNo + cumulativeYes )) %}

        <div class="is-useful-quick-results">
            <p class="is-useful-block-total well">
                {{ cumulativeYes + cumulativeNo }}
                <br/><small>Total</small>
            </p>
            <p class="is-useful-block-yes well">{{ cumulativeYes }} Yes
                <br /><small>({{ percentageYes|number_format(0,'.','') }}%)</small>
            </p>
            <p class="is-useful-block-no well">{{ cumulativeNo }} No
                <br /><small>({{ percentageNo|number_format(0,'.','') }}%)</small>
            </p>
        </div>
    {% endif %}

    <table data-table>
        <thead>
            <th>Page</th>
            <th>No</th>
            <th>No %</th>
            <th>Yes</th>
            <th>Yes %</th>
            <th>Total</th>
            <th>Details</th>
        </thead>
        <tbody>
            {% for item in data %}
                {% set contenttype   = item.contenttype %}
                {% set contentid     = item.contentid %}
                {% set totals        = item.totals|json_decode %}
                {% set ips           = item.ips|json_decode %}
                {% set totalsNo      = totals.no is defined ? totals.no : 0 %}
                {% set totalsYes     = totals.yes is defined  ? totals.yes : 0 %}
                {% set totalsTotal   = totalsNo + totalsYes %}
                {% set percentageNo  = (totalsNo / totalsTotal) * 100 %}
                {% set percentageYes = (totalsYes / totalsTotal) * 100 %}
                {% set totalFeedback = item.count %}
                {% set totalUnread   = item.count_unread %}
                {% setcontent record = "#{contenttype}/#{contentid}" %}
                <tr>
                    <td>
                        <a href="{{ path('is_useful.view', { id: item.id }) }}" title="View detailed feedback for this page">{{ record.title}}</a>
                    </td>
                    <td>{{ totalsNo }}</td>
                    <td>{{ percentageNo|number_format(0,'.','') }}%</td>
                    <td>{{ totalsYes }}</td>
                    <td>{{ percentageYes|number_format(0,'.','') }}%</td>
                    <td>{{ totalsTotal }}</td>
                    <td>
                        <a class="btn btn-tertiary" href="{{ path('is_useful.view', { id: item.id }) }}">
                            View
                            {% if totalUnread > 0 %}
                            <span class="badge">{{ totalUnread }}</span>
                            {% endif %}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>



    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script>
    $(document).ready(function(){
        $('[data-table]').DataTable({
            pageLength: 100
        });
    });
    </script>

{% endblock page_main %}
