{% extends '_base/_page-nav.twig' %}

{% block page_nav title %}

{% block page_title __(title) %}

{% block page_main %}

    {{ include('@is_useful/backend/_navigation.twig') }}

    {% if feedback is not empty %}
        <table data-table>
            <thead>
                <th>IP</th>
                <th>Datetime</th>
                <th>Message</th>
                <th>Actions</th>
            </thead>
            <tbody>
                {% for item in feedback %}
                    {% set ip         = item.ip %}
                    {% set datetime   = item.datetime %}
                    {% set message    = item.message %}
                    {% set deleteLink = path('is_useful.feedback.delete', { id: item.id }) %}
                    {% set markLink   = path('is_useful.feedback.markasread', { id: item.id }) %}
                    <tr>
                        <td>{{ ip }}</td>
                        <td>{{ datetime }}</td>
                        <td>{{ message }} </td>
                        <td>
                            <a class="btn btn-tertiary" href="{{ deleteLink }}" onclick="return confirm('Are you sure?')">Delete</a>
                            <a class="btn btn-secondary" href="{{ markLink }}">Mark as read</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        This item has no feedback yet.
    {% endif %}

    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script>
    $(document).ready(function(){
        $('[data-table]').DataTable({
            pageLength: 100
        });
    });
    </script>

{% endblock page_main %}
