{% extends '_base/_page-nav.twig' %}

{% block page_nav title %}

{% block page_title __(title) %}

{% block page_main %}

    {{ include('@is_useful/backend/_navigation.twig') }}

     {% if feedback is not empty %}
        <table data-table>
            <thead>
                <th>Page</th>
                <th>IP</th>
                <th>Date</th>
                <th>Message</th>
                <th>Actions</th>
            </thead>
            <tbody>
                {% for item in feedback %}
                    {% set ip         = item.ip %}
                    {% set datetime   = item.datetime %}
                    {% set message    = item.message %}
                    {% set deleteLink = path('is_useful.feedback.delete', { id: item.id }) %}
                    {% set statusReadLink = path('is_useful.feedback.status', { id: item.id, status: 'read' }) %}
                    {% set statusDoneLink = path('is_useful.feedback.status', { id: item.id, status: 'done' }) %}
                    <tr>
                        {% setcontent record = "#{item.contenttype}/#{item.contentid}" %}
                        <td class="is-useful">
                            <a href="{{ path('is_useful.view', { id: item.is_useful_id }) }}" title="View detailed feedback for this page">
                                {{ record.title }}
                            </a>
                        </td>
                        <td class="is-useful-ip">{{ ip }}</td>
                        <td class="is-useful-datetime">{{ datetime }}</td>
                        <td class="is-useful-message">
                        {% if message is not empty %}
                            <div class="well well-sm">
                                {{ message }}
                            </div>
                            {% endif %}
                        </td>
                        <td>
                            <a class="btn btn-secondary" href="{{ statusReadLink }}"><i class="fa fa-eye"></i> <span class="visible-md-inline visible-lg-inline">Mark as read</span></a>
                            <a class="btn btn-secondary btn-success" href="{{ statusDoneLink }}"><i class="fa fa-check"></i> <span class="visible-md-inline visible-lg-inline">Mark as done</span></a>
                            <a class="btn btn-tertiary" href="{{ deleteLink }}" onclick="return confirm('Are you sure?')"><i class="fa fa-trash"></i></a>

                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        This item has no feedback yet.
    {% endif %}

    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script>
    $(document).ready(function(){
        $('[data-table]').DataTable({
            pageLength: 100
        });
    });
    </script>

{% endblock page_main %}
